body{
    margin: 0;
    font-family: 'Roboto', arial;
}
.info img{
    width: 200px;
    height: auto;
    border-radius: 12px;
    border: 3px solid #cdcdce;
    
    
}

header, .content, footer{
    padding: 20px 300px;
}

.main img{
    width: 400px;
    height: auto;
    border-radius: 7px;
    border: 3px solid #f9faf8d7;
}

header, .main, footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

.quote, .info, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #f9faf8d7;
    
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0;
    padding:10px 20px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

li a{
    color:#F9FAF8;
    text-decoration: none;
}

h1{
   font-size: 48px;
   font-weight: 900; 
}

.main{
    display: flex;
    padding:  20px;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.main p{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    padding: 10px 30px;
    border-radius: 8px;
    color: #E5E7EB;
    font-weight: bold;
    border: none;
    font-family: 'Roboto', arial;
    
}

/* content */

.animals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animals h2{
   font-size: 36px;
   font-weight: bold;
   color: #1F2937; 
}

.images{
    display: flex;
    gap:50px;
    justify-content: space-between;
    align-items: baseline;
}

.img{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;    
    
}

/* quote */

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 350px;
    background-color: #E5E7EB;
    height: 300px;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.author{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    align-self: flex-end;
}

/* subscribe */

.subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 200px;
    background-color: #F9FAF8;
}

.sqr{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 100px;
    border-radius: 12px;
    gap: 20px;
}

.bottom{
    border: 3px solid #f9faf8d7;
}

footer a{
    color:#F9FAF8;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}